{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CIS Insight{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">

    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"/>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">

    <link rel="preload" href="{% static 'fonts/noto-sans-jp-v56-japanese_latin-regular.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'fonts/noto-sans-jp-v56-japanese_latin-700.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'fonts/inter-v20-cyrillic_cyrillic-ext_latin-regular.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'fonts/inter-v20-cyrillic_cyrillic-ext_latin-700.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'fonts/noto-serif-v33-cyrillic_cyrillic-ext_latin-regular.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'fonts/noto-serif-v33-cyrillic_cyrillic-ext_latin-700.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'img/logo.png' %}" as="image" type="image/png">

    <script>
        window.onload = () => {
            'use strict';
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/static/js/sw.js', {});
            }
        }
    </script>

    <style>
        html {
            scroll-behavior: smooth;
            scrollbar-gutter: stable;
            -webkit-text-size-adjust: 100%;
        }

        body {
            overscroll-behavior-y: none;
            -webkit-overflow-scrolling: touch;
        }
    </style>
    {% block extra_css %}{% endblock %}
</head>

<body class="bg-slate-50 text-slate-900 antialiased">
    {% block main %}{% endblock %}
</body>
</html>